<h3>お問い合わせ一覧</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">名前・メール</th>
      <th scope="col">内容</th>
      <th scope="col">回答</th>
    </tr>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
     <tr>
       <th scope="row">
        <%= inquiry.name %>
        <br>
        <%= inquiry.email %>
       </th>
       <td>
         <%= link_to simple_format(inquiry.content), new_inquiry_answer_path(inquiry) %>
         <br>
         <%= inquiry.created_at.strftime("%F-%R") %>
       </td>
       <!-- 回答 -->
       <td>
          <% inquiry.answers.each do |answer| %>
            <%= simple_format(answer.content) %>
            <br>
            <%= answer.created_at.strftime("%F-%R") %>
            <br>
            --------------------
            <br>
          <% end %>
       </td>
     </tr>
    <% end %>
  </tbody>
</table>