<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
  <a class="navbar-brand" href="/">myHobby</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     
       
      <% if user_signed_in? %>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Salon
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class= "requested-count">
                  <%= link_to salons_path, class: "dropdown-item" do %>
                  <span>My salons <i class="fas fa-bell"></i><%= mysalon_requested_count[:request] %></span>
                  <% end %>
                </div>
                <%= link_to joined_salons_path, class: "dropdown-item" do %>
                  <span>Joined salons <i class="far fa-bell"></i><%= request_salons_count %></span>
                <% end %>
            </div>
          </li>     
            
      <% end %>  
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          myPage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% unless user_signed_in? %>
              <%= link_to "SignUp", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "SignIn", new_user_session_path, class: "dropdown-item" %>
          <% end %>
          <div class="dropdown-divider"></div>
          <% if user_signed_in? %>
              <%= link_to "New Salon", new_salon_path, class: "dropdown-item" %>
              <%= link_to "MyProfile", edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "SignOut", destroy_user_session_path, method: "delete", class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
      
      <% if user_signed_in? && current_user.id == 0 %>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            管理者メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "カテゴリー登録", new_category_path, class: "dropdown-item" %>
                <%= link_to "カテゴリー一覧", categories_path, class: "dropdown-item" %>
                <%= link_to "お問い合わせ一覧", inquiries_path, class: "dropdown-item" %>
          </div>
        </li> 
      <% end %>
       

      <li>
        <% unless user_signed_in? && current_user.id == 0 %>
          <%= link_to "お問い合わせ", new_inquiry_path, class: "nav-link" %>
        <% end %>
      <li>


    </ul>
  </div>
</nav>

<style>
  .requested-count {
    width:20px;
    height :20px;
    border-radius: 50%;
  }
</style>